.analytics {
  background-color: white;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.icon {
  font-size: 20px;
}
.cards {
  margin-bottom: 10px;
}
.card {
  margin: auto;
  height: 200px;
}
.num {
  font-family: "Arial Black";
  font-size: 2rem;
  color: ghostwhite;
}
.p {
  color: white;
  font-family: "Signika", Arial, Helvetica, sans-serif;
}
.table {
  margin-top: 40px;
}
