<div class="card text-center" *ngIf="chapter">
  <div class="card-header">
    Глава {{chapter.orderValue}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{chapter.name}}</h5>
    <p class="card-text">{{chapter.description}}</p>
  </div>
</div>
<h6 class="chap">Навигация по уроку</h6>
<div class="row">
  <div class="col-lg-12">
    <div class="card" *ngFor="let lesson of lessons;">
      <div class="card-header" *ngIf="lesson.lessonType.id == 2">
        <a [routerLink]="['/auth', 'lesson', lesson.id]" style="float: right" class="btn btn-outline-dark">Открыт задания</a>
      </div>
      <div class="card-body" *ngIf="lesson.lessonType.id == 2">
        <h5 class="card-title">{{lesson.title}}</h5>
        <p class="card-text">Тип урока: Практика</p>
        <p>Дата добавление: {{lesson.addedDate | date}}</p>
      </div>
    </div>

  </div>
</div>


