<div class="margin">

</div>
<div class="card text-center" *ngIf="course">
  <div class="card-header">
    Курс
  </div>
  <div class="card-body">
    <h5 class="card-title">{{course.description}}</h5>
    <p class="card-text">{{course.name}}</p>
    ({{chapters.length}} уроков)
  </div>
</div>
<h6 class="chap">Навигация по курсу</h6>
<div class="row">
  <div class="col-lg-8">
    <div class="card" style="margin-bottom: 10px" *ngFor="let chapter of chapters">
      <div class="card-header">
        Глава {{chapter.orderValue}}
        <a [routerLink]="['/admin', 'editChapter', chapter.id]" style="float: right" class="btn btn-outline-dark">Редактировать</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{chapter.name}}</h5>
        <p class="card-text">{{chapter.description}}</p>
        <label>Тип урока: </label>
        <br>
        <ul>
        <li><a [routerLink]="['/admin', 'chapter','lec', chapter.id]" class="btn btn-outline-dark">Лекция</a></li>
        <li><a [routerLink]="['/admin', 'chapter','lab', chapter.id]" class="btn btn-outline-dark">Практика</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-lg-4">
    <div class="form-chapter">
      Создать Глава
      <hr>
      <form [formGroup]="form" (ngSubmit)="Onsubmit()">
        <div class="form-group">
          <label for="name">Называния</label>
          <input type="text" class="form-control chapter" id="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">Описания</label>
          <input type="text" class="form-control chapter" id="description" formControlName="description">
        </div>
        <div class="form-group">
          <label for="orderValue">OrderValue</label>
          <input type="number" class="form-control chapter" id="orderValue" formControlName="orderValue">
        </div>
        <button [disabled]="form.invalid" style="float: right" type="submit" class="btn btn-dark">Добавить</button>
      </form>
    </div>
  </div>
</div>
